@{
    ViewData["Title"] = "Home Page";
}

<div class="home-background">
    <div class="overlay-text">
        <h1>Welcome to Alpha Workout</h1>
        <p>
            <a class="btn btn-primary" asp-area="" asp-page="/Identity/Account/Login">Sign in</a>
            or
            <a class="btn btn-secondary" asp-area="" asp-page="/Identity/Account/Register">make a profile</a>
        </p>
    </div>
</div>
